:root {
    --green: #296444;
    --green-darker: #1d4730;
    --white: #cacaca;
    --pink: #af6292;
    --pink-darker: #5f354f;
}

.body {
    background-color: var(--green);
    color: var(--white);
    font-family: 'Helvetica';
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    border: 3px solid var(--pink);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px var(--green-darker);
    width: 40rem;
    margin: 20px 0 0 0;
}

.app {
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.title {
    font-size: 60px;
    font-weight: bold;
}

.header {
    font-size: 28px;
    font-weight: bold;

    .header-space {
        padding: 0 25px 0 25px;
    }

    .header-active {
        color: var(--pink);
    }

    .header-item {
        cursor: pointer;
    }
}

.time {
    font-size: 78px;
    font-weight: bold;
}

.btn {
    background-color: var(--pink);
    color: var(--white);
    border: 0;
    outline: 0;
    padding: 20px;
    font-size: 2rem;
    font-weight: bold;
    box-shadow: 0px 5px 10px var(--green-darker);
    transition: all 0.3s;
    cursor: pointer;
    border-radius: 5px;
    border-bottom: 1px solid var(--pink-darker);
}
.btn:hover {
    box-shadow: 0px 15px 25px -5px var(--green-darker);
    transform: scale(1.03);
}
.btn:active {
    box-shadow: 0px 4px 8px var(--green-darker);
    transform: scale(0.98);
}

.input-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
}

.input {
    flex-grow: 2;
    margin: 10px 20px 10px 10px;
    font-size: 1.5rem;
    border: 0;
    background-color: var(--green);
    color: var(--white);
    outline: 0;
    border-bottom: 2px solid var(--pink);
}

.btn-small {
    background-color: var(--pink);
    color: var(--white);
    border: 0;
    outline: 0;
    padding: 10px;
    font-weight: bold;
    box-shadow: 0px 5px 10px var(--green-darker);
    transition: all 0.3s;
    cursor: pointer;
    border-radius: 5px;
    border-bottom: 1px solid var(--pink-darker);
    line-height: 0;
}
.btn-small:hover {
    box-shadow: 0px 15px 25px -5px var(--green-darker);
    transform: scale(1.03);
}
.btn-small:active {
    box-shadow: 0px 4px 8px var(--green-darker);
    transform: scale(0.98);
}

img {
    width: 1.5rem;
    filter: invert(85%) sepia(6%) saturate(12%) hue-rotate(317deg) brightness(95%) contrast(93%);
}
