body {
    background-color: #296444;
    color: #cacaca;
    font-family: 'Helvetica Neue', Helvetica, Arial;
    padding: 20px;
}

.app {
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    justify-content: center;
}

.title {
    font-size: 60px;
    font-weight: bold;
    padding: 40px;
}

.header {
    font-size: 28px;
    font-weight: bold;
    padding: 20px;

    .header-space {
        padding: 0 40px 0 40px;
    }

    .header-active {
        color: #ac680f;
    }
}

.time {
    font-size: 78px;
    font-weight: bold;
    padding: 20px;
}

.btns {
}
